@import '../../assets/styles/variables.scss';

.cart__modal {
	display: none;
	position: absolute;
	top: 15%;
	left: 2.5%;
	z-index: 100;
	background: #fff;
	height: 280px;
	width: 95%;
	border-radius: 15px;
	box-shadow: 10px 10px 35px -5px rgba(0, 0, 0, 0.5);
}

.overlay-active {
	display: block;
}

.overlay__container {
	max-width: 85%;
	margin: 0 auto;
	height: 100%;
}

.cart__content {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 66%;
}

.cart-empty {
	color: $light;
	font-weight: 700;
	margin: auto;
}
