@import '../../assets/styles/variables.scss';

.cart__modal {
	display: none;
	position: absolute;
	top: 120%;
	right: 0;
	z-index: 100;
	background: #fff;
	min-height: 260px;
	width: 100%;
	max-width: 500px;
	border-radius: 15px;
	box-shadow: 10px 10px 35px -5px rgba(0, 0, 0, 0.5);
}

.overlay-active {
	display: block;
}

.cart__content {
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-empty {
	color: $light;
	font-weight: 700;
	margin: auto;
}
