@import '../../assets/styles/variables.scss';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
}

.cart-item__img-container {
	max-width: 20%;
}

.cart-item__img {
	border-radius: 10%;
	max-width: 100%;
}

.cart-item__content {
	margin: 0 0.75em;
	overflow-x: hidden;
	p {
		margin: 0.6rem 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow-x: hidden;
		color: $light;
	}
}

.total-amount {
	color: $dark;
	font-weight: 700;
	padding: 0 0.5em;
}

.delete-icon {
	margin-left: 0.75rem;
	border: none;
	background-color: transparent;
}

.delete-icon__svg {
	color: #c3cad9;
	&:hover {
		color: $primary;
	}
}
