@import '../../assets/styles/variables.scss';

.disable {
	display: none;
}

.nav {
	width: 90%;
	margin: 0 auto;
	padding: 1.25rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.nav__menu {
	flex-basis: 60%;
}

.nav__menu-btn {
	border: none;
	margin-right: 0.75rem;
	background-color: transparent;
}

.cart {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;

	img {
		width: 20%;
		max-width: 33%;
	}
}

.cart-btn {
	border: none;
	background-color: transparent;
	padding: 0;
}

.cart-icon {
	color: $light;
	margin: 0 1.25rem;
}

.cart-active {
	color: $dark;
}
