@import '../../assets/styles/variables.scss';

.nav-container {
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	display: none;
}

.nav__menu-mobile {
	position: relative;
	z-index: 100;
	background-color: #fff;
	height: 100vh;
	width: 65%;
}

.close-menu-btn {
	background-color: transparent;
	border: none;
	margin: 1.5rem 1.5rem 2rem 1.5rem;
	padding: 0;
}

// .backdrop {
// 	background-color: rgba(0, 0, 0, 0.5);
// 	position: absolute;
// 	top: 0;
// 	z-index: 50;
// 	height: 100vh;
// 	width: 100%;
// }

.active {
	display: block;
}
