@import '../assets/styles/variables.scss';

.item__brand {
	text-transform: uppercase;
	color: $primary;
	font-size: 0.75rem;
	letter-spacing: 1.5px;
	margin-top: 1.5rem;
}

.item__title {
	color: $dark;
	margin: 0.75rem 0;
	font-size: 1.75rem;
}

.item__text {
	color: $light;
	line-height: 1.5;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	p {
		margin: 0;
		font-weight: 700;
	}
}

.price__amount {
	color: $dark;
	font-size: 2rem;
}

.price__discount {
	color: $primary;
}

.price__total {
	color: rgba(104, 112, 125, 0.5);
	text-decoration: line-through;
}

.item__amount {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0;
}

.amount__btn {
	border: none;
	background-color: transparent;
	margin: 0 0.5rem;
}

.amount-field {
	border: none;
	background-color: transparent;
	text-align: center;
	color: $dark;
	font-weight: 700;
	font-size: 1.1rem;
}

.add-to-cart__svg {
	margin-right: 0.75rem;
	color: $white;
	svg {
		width: 18px;
	}
}

@media (min-width: $tablet) {
	.item__btn {
		display: flex;
		align-items: center;
	}

	.item__btn > * {
		flex: 1 0 50%;
	}
}

@media (min-width: $desktop) {
	.item-info {
		margin: 0;
		display: flex;
		align-items: center;
		max-width: 550px;
	}

	.price {
		display: block;
	}

	.item__title {
		font-size: 3rem;
		margin-bottom: 0.75em;
	}
}
