@import '../assets/styles/variables.scss';

.slider-container {
	overflow: hidden;

	img {
		max-width: 100%;
		object-fit: cover;
		display: block;
		margin: 0;
		cursor: pointer;
	}
}

.slider-thumbs {
	margin: 2.5rem;
	display: none;
}

.swiper.slider-thumbs {
	overflow: visible;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	content: '' !important;
}

.swiper-button-next {
	background: url('../assets/icon-next.svg') center no-repeat #fff;
	border-radius: 50%;
	padding: 0 1.4rem;
}

.swiper-button-prev {
	background: url('../assets/icon-previous.svg') center no-repeat #fff;
	border-radius: 50%;
	padding: 0 1.4rem;
}

@media (min-width: $desktop) {
	.slider-container {
		max-width: 500px;
		margin-right: 2rem;

		img {
			border-radius: 15px;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none !important;
	}

	.slider-thumbs {
		display: block;
		cursor: pointer;
	}

	.outline:hover {
		outline: 3px solid $primary;
	}
}
