//Colors

$primary: #ff7d1a;
$white: #ffede0;
$dark: #1d2025;
$light: #68707d;
// $Grayish-blue: hsl(220, 14%, 75%);
// $Light-grayish-blue: hsl(223, 64%, 98%);

// - Mobile: 375px
// - Desktop: 1440px

$tablet: 768px;
$desktop: 1024px;
