@import '../../assets/styles/variables.scss';

.primary-btn {
	background-color: $primary;
	border: none;
	border-radius: 10px;
	display: block;
	max-width: 350px;
	width: 100%;
	padding: 1rem 1.25rem;
	font-weight: 700;
	font-size: 1rem;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
